.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.tutorialColor{
  background-color: #6200ee;
}
.buttonPlus{
  bottom:0px;
  float: right;
  margin-top: 70%;
  background-color: #00bcd4;
  border-radius: 50%;
  border-color: #00bcd4 import!;
  width: 60px;
  height: 60px;
  
}